/* Test */

.completed{
    color: gray;
    text-decoration: line-through;
}



.fa-check {
    font-size:1rem;padding:0.2rem; border-radius: 5px; color: rgb(220, 216, 216); background-color:rgb(220, 216, 216);
}

.completed .fa-check {
   color: rgb(8 118 9);
}